html,
body {
    overflow-x: hidden;
}
html {
    font-size: 6.25%;
}
body {
    font-size: 16rem;
    font-family: var(--font-primary);
    background-color: var(--primary-color);
    color: var(--white);
    padding-top: 80px;
}
body.active {
    --primary-color: #ff664f;
    --white: #12141d;
    --black-2: #fff;
    --black: #fff;
    --orange: #696b76;
    --gray-3: #12141d;
}
// Dùng chung
.content {
    max-width: 1170px;
    width: calc(100% - 40px);
    margin-inline: auto;
}
.btn {
    padding: 10px;
    font-size: 13rem;
    font-weight: 600;
    letter-spacing: -0.13px;
    min-width: 79px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.btn-light {
    color: var(--black);
    background-color: var(--white);
}
.btn-dark {
    color: var(--white);
    background-color: var(--black-2);
}
