// import font google
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
//   variant color
// $-font-primary: "Inter", sans-serif;
// $-primary-color: #12141d;
// $-black-1: #2a2b33;
// $-black-2: #1d1f29;
// $-black-3: #1e2029;
// $-white: #ffffff;
// $-white-light-1: #f6f1ec;
// $-gray: #696b76;
// $-gray-1: #5a5c68;
// $-gray-2: #434550;
:root {
    --font-primary: "Inter", sans-serif;
    --primary-color: #12141d;
    --orange: #ff664f;
    --black: #12141d;
    --black-1: #2a2b33;
    --black-2: #1d1f29;
    --black-3: #1e2029;
    --white: #ffffff;
    --white-light-1: #f6f1ec;
    --gray: #696b76;
    --gray-1: #5a5c68;
    --gray-2: #434550;
    --gray-3: #87888d;
}
