.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    // overflow: hidden;
    background-color: var(--primary-color);
    &-content {
        padding-block: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-size: 16rem;
        font-weight: 700;
        line-height: calc(30 / 16);
        letter-spacing: -0.32px;
    }
    &-toggle-theme {
        position: relative;
        width: 40px;
        height: 22px;
        border-radius: 11px;
        background-color: var(--black-1);
        &-icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--white-light-1);
            transition: all 0.5s ease;
            &.active {
                right: 22px;
                transition: all 0.5s ease;
            }
            i {
                color: var(--black-1);
                font-size: small;
            }
        }
    }
    &-menu {
        display: flex;
        column-gap: 34px;
        margin-inline: 80px auto;
        &-item {
            text-align: center;
            &:hover {
                a {
                    font-weight: 600;
                }
            }
            &::after {
                content: attr(titles);
                font-weight: 600;
                display: block;
                color: red;
                height: 0;
                visibility: hidden;
                opacity: 0;
            }
        }
        &-link {
            position: relative;
            font-size: 13rem;
            font-weight: 500;
            letter-spacing: -0.13px;
            transition: 1s ease-in-out;
            transition-delay: 0.3s;
        }
    }
    &-cta {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }
    &-mobile {
        display: none;
        &-icon {
            font-size: 20px;
        }
        &-link {
            font-size: 20px;
            padding: 15px 20px;
            transition: 0.3s;
            &:hover {
                background-color: var(--white);
                color: var(--orange);
            }
        }
        &-menu {
            background-color: var(--orange);
            color: var(--black);
            font-weight: 500;
            transform: scale(0);
            transform-origin: top right;
            opacity: 0;
            transition: all 0.5s;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            z-index: 9999;
            &.active {
                opacity: 1;
                transform: scale(1);
                transition: all 0.5s;
            }
        }
    }
}
